body {
  background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.459)),
    url(./img/background-resize.jpg) no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.459)),
    url(./img/background-resize.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
